:root {
  box-sizing: border-box;

  --color-primary: #7E1618;
  --color-secondary: #C8AD92;
  --color-background: #3A3A3A;
  --color-text: #685252;
  --font-body: Belanosima, sans-serif;
  --font-heading: Bowlby One SC, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

/* Typography */
h1, h2, h3 {
  font-family: var(--font-heading);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

p {
  font-size: 1.7rem;
  font-family: var(--font-body);
}

/* Desktop */
@media screen and (min-width: 768px) {
  
}