:root {
  box-sizing: border-box;
  --color-primary: #7E1618;
  --color-secondary: #C8AD92;
  --color-background: #3A3A3A;
  --color-text: #fff;
  --font-body: Belanosima, sans-serif;
  --font-heading: Bowlby One SC, sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
}

/* Typography */
h1, h2, h3 {
  font-family: var(--font-heading);
  color: var(--color-text);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

p, a, button {
  font-size: 1.7rem;
  font-family: var(--font-body);
  color: var(--color-text);
}

/* Desktop */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 3rem;
  }

  p {
    font-size: 2rem;
  } 
}